.search__block {
  margin: 0 auto;
  width: 1000px;
  padding-top: 50px;

  .search__input {
    h1 {
      margin-bottom: 15px;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .card {
    width: 500px;
    margin: 20px auto;

    .center {
      text-align: center;
    }
  }
}
