<div class="search__block">

  <div class="search__input">
    <h1>Start type GitHub user name</h1>
    <mat-form-field>
      <input
        matInput
        placeholder="Start type user name"
      >
      <mat-error>

      </mat-error>
    </mat-form-field>
  </div>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src=""
      alt=""
    >
    <mat-card-content>
      <ul>
        <li></li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="center">
      <a mat-raised-button color="warn" target="_blank">View Profile</a>
    </mat-card-actions>
  </mat-card>

</div>
